<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="RentalCarProjectEntities" connectionString="metadata=res://*/EFmodel.csdl|res://*/EFmodel.ssdl|res://*/EFmodel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LANDY;initial catalog=RentalCarProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RentalCarProjectEntities1" connectionString="metadata=res://*/Resources.RentalCarProject_Model.csdl|res://*/Resources.RentalCarProject_Model.ssdl|res://*/Resources.RentalCarProject_Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LANDY;initial catalog=RentalCarProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="RentalCarProjectEntities2" connectionString="metadata=res://*/Resources.RentalCarProject.csdl|res://*/Resources.RentalCarProject.ssdl|res://*/Resources.RentalCarProject.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LANDY;initial catalog=RentalCarProject;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StorageSeaEntities" connectionString="metadata=res://*/SeaStore.csdl|res://*/SeaStore.ssdl|res://*/SeaStore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LANDY;initial catalog=StorageSea;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="StorageSeaEntities1" connectionString="metadata=res://*/StoreSea.csdl|res://*/StoreSea.ssdl|res://*/StoreSea.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LANDY;initial catalog=StorageSea;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>